.main_menu nav > ul > li:hover > a {
  color: #fc7c7c;
}

.breadcrumbs_text {
  padding: 20px 0;
}

@media only screen and (min-width: 1200px) {
  .breadcrumbs_text {
    padding: 30px 0 20px;
  }
}



button.add_to_cart {
	width: auto;
	padding: 0 37px;
	border-radius: 25px;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	margin-left: 12px;
	line-height: 53px;
	text-align: center;
	color: #ffffff;
	background: #2b4174;
	border: none;
}


li button.add_to_cart, li button.wishlist__btn {
	font-size: 24px;
	color: #ffffff;
	width: 40px;
	height: 40px;
	line-height: 44px;
	text-align: center;
	background: #2b4174;
	display: inline-block;
	border-radius: 6px;
	border: none;
	padding: unset;
	margin: unset;
}

button.wishlist__btn {
	margin-left: 12px;
	font-size: 23px;
	width: 50px;
	height: 50px;
	line-height: 53px;
	border-radius: 50%;
	text-align: center;
	color: #ffffff;
	background: #2b4174;
	border: none;
}

.reviews__wrapper .login {
	display:inline-block;
	width: auto;
	padding: 0 37px;
	border-radius: 25px;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	margin-left: 12px;
	line-height: 53px;
	text-align: center;
	color: #ffffff;
	background: #2b4174;

}

button.add_to_cart:hover, button.wishlist__btn:hover, .customer__reviews .login:hover {
	background: #fc7c7c;
}

.table-content table td.product-thumbnail img {
	width: 100px;
}

.order-button-payment input:disabled {
	background: #666;
	cursor: default;
}

button.add_to_cart_out_of_stock {
	width: auto;
	padding: 0 37px;
	border-radius: 25px;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	margin-left: 12px;
	line-height: 53px;
	text-align: center;
	color: #ffffff;
	background: #2b4174bf;
	border: none;
	cursor:default;
}

button.already_wishlist__btn {
	margin-left: 12px;
	font-size: 23px;
	width: 50px;
	height: 50px;
	line-height: 53px;
	border-radius: 50%;
	text-align: center;
	color: #ffffff;
	background: #2b4174bf;
	border: none;
	cursor:default;
}

.table-content table td.cart_btn a {
	height: auto;
}

.table-content table td.cart_btn.out_of_stock a {
	background: #333333b5;
	cursor:default;
}